<!--
<div *ngFor="let txt as news"><p>{{'cNewsText1'|translate}} <p>{{'cNewsText2'|translate}}</p> 
{{txt.welcome}}
</p>

</div>

-->


<mat-spinner *ngIf="loading"></mat-spinner>
<mat-toolbar *ngIf="successMsg" color="accent">{{ successMsg }}</mat-toolbar>
<mat-toolbar *ngIf="errorMsg" color="warn">{{ errorMsg }}</mat-toolbar>

<div [hidden]="loading && loading" class="example-container mat-elevation-z8">
  <mat-table mat-table [dataSource]="nDataSource"  class="mat-elevation-z8">

    <ng-container matColumnDef="newsTitle" class="newsHeader">
      <mat-header-cell  *matHeaderCellDef>  </mat-header-cell>
      <mat-cell *matCellDef="let aNews"> <h2>{{ aNews.title }} </h2> </mat-cell>
    </ng-container>
 
    <ng-container matColumnDef="newsContent">
      <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
      <mat-cell *matCellDef="let aNews"> {{ aNews.content }} </mat-cell>
    </ng-container>
 
    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
  <mat-row *matRowDef="let aNews; columns: columns"></mat-row>
  </mat-table>

  <mat-paginator #newssPaginator [pageSize]="1"></mat-paginator>
 
</div>



